.updata {
    width: 100%;
    height: 65%;
    border-radius: 8px;
    border: 3px dashed var(--updata-border);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }

    &.nodisplay {
        justify-content: normal;
        align-items: normal;
        padding: .5rem;
    }

    & .upImgBtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 1rem;
        transition: .3s ease-in-out;
        border-radius: 8px;

        &:hover {
            background: #e5e5e5;
        }

        & svg {
            width: 1.5em;
            height: 1.5em;
        }
    }

    & .imgBox {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        & .imgItem {
            width: 5rem;
            height: fit-content;
            margin: .2rem;
            background: var(--imgItem-background);
            padding: 1rem;
            border-radius: 8px;
            border: 3px solid #ccc;
            transition: .3s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .img {
                width: 100%;
                height: 100%;
                min-height: 8rem;

                & img {
                    border-radius: 4px;
                }
            }

            & .imgInfo {
                font-size: .8rem;
                margin-top: .5rem;
                width: 100%;
                overflow: hidden;
                text-align: center;

                & .imgName {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                }

                & .imgSize {
                    font-size: .7rem;
                    margin-top: .5rem;
                    background: #999999;
                    width: fit-content;
                    padding: .1rem .5rem;
                    border-radius: 8px;
                    color: #fff;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

& .dataBox {
    margin-top: .5rem;

    & .dataInput {
        display: flex;
        justify-content: space-between;

        & .inputBox {

            & .inputItem {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: .5rem 0;

                & label {
                    font-size: .9rem;
                    margin-bottom: .2rem;
                }

                & .rangeText {
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;

                    & span {
                        margin-left: .5rem;
                    }
                }
            }
        }
    }

}